# System
.DS_Store

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# IDE Files
.idea
.vscode

# Coverage directory used by tools like istanbul
coverage

# Dependency directories
node_modules/

# Optional npm cache directory
.npm

# Development files
index.ts
lib/
tests/
jest.json
tsconfig.json
tslint.json
.prettierrc
.travis.yml